/* --------------------------  FOOTER  ------------------------> */
.a1 {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
}

.a2 {
  line-height: 30px;
  word-spacing: 1px;
  font-size: 18px;
  color: aliceblue;
}

/* --------------------------  HEADER  ------------------------> */
.weblogo {
  width: 65px;
}

.navbar {
  background: #00000082 !important;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  font-size: 20px;
}

.moblogo {
  display: none;
}

@media (max-width: 768px) {
  .moblogo {
    display: block;
  }

  .weblogo {
    display: none;
  }

  .navbar {
    background: #fbac1b !important;
  }

  .img123 {
    width: 100%;
  }

  .foot {
    display: none;
  }

  .carousel {
    margin-top: 2.65cm;
  }
}

/* --------------------------  HOME  ------------------------> */
.a {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
  margin-top: 5.5rem;
}

.b {
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  text-align: justify;
}

.img123 {
  width: 80%;
}

.c {
  background-image: url(/src/assets/img\ background.jpg);
  width: 100%;
}

.aa {
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
}

.d {
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  margin-top: 10px;
  text-align: center;
}

.ex {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
}

.cc {
  background-image: url(/src/assets/ffback2.png);
  width: 100%;
}

@media (max-width: 768px) {
  .img123 {
    width: 100%;
  }
}

/* --------------------------  ABOUT  ------------------------> */
.about_Bg_1 {
  background-image: url(/src/assets/ourimage.jpg);
  width: 100%;
  height: 620px;
  background-position: center;
  background-size: cover;
}

.about_Heading {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
  margin-top: 5.5rem;
}

.about_Bg_2 {
  background-image: url(/src/assets/gamebanner.jpg);
  width: 100%;
}

.about_Para_1 {
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  text-align: justify;
}

.about_Game_Heading {
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
}

.about_Para_2 {
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  margin-top: 10px;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 2cm;
}

.about_Heading_2 {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "prague";
  letter-spacing: 3px;
}

.about_Para_3 {
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  margin-top: 20px;
  font-weight: lighter;
  padding-bottom: 2cm;
}

/* --------------------------  CAREERS  ------------------------> */
.career_Bg {
  background-image: url(/src/assets/new-careers-1.jpg);
  width: 100%;
  height: 620px;
  background-position: center;
  background-size: cover;
}

.career_Para {
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;
  font-weight: lighter;
  font-size: 18px;
}

/* --------------------------  CONTACT  ------------------------> */
.contact_Bg {
  background-image: url(/src/assets/CONTACT-US.jpg);
  width: 100%;
  height: 620px;
  background-position: center;
  background-size: cover;
}

.contact_Heading {
  font-family: unset;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  line-height: 1.2;
}

.contact_Info {
  line-height: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding-right: 5px;
  margin-top: 20px;
  font-weight: lighter;
  padding-bottom: 2cm;
}
